.v-list-item:hover {
    background-color: #4caf50;
    color: white;
  }
  
  .hover-card {
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    cursor: pointer;
    position: relative;
    background-color: #fafbfa;
  }
  
  .hover-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* More pronounced shadow on hover */
  }
  
  .title {
    font-size: 1.25rem; /* Larger font for the title */
    font-weight: bold;
  }
  
  .budget,
  .location {
    color: #666; /* Subtle color for text */
  }
  
  .button-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin-left: 18px;
  }
  
  .category-label {
    color: #fff;
    background-color: #375838;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .job-type-duration {
    margin-top: 10px;
    color: #777;
  }
  
  .apply-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px; /* Add padding for better button appearance */
    font-weight: bold;
    margin-right: 8px;
  }
  
  .apply-button:hover {
    background-color: #45a049; /* Darker green for hover effect */
  }
  
  .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }
  .icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  