
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.v-btn {
  text-transform: none;
}
.v-list-item:hover {
  background-color: #4caf50;
  color: white;
}

.hover-card {
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  position: relative;
  background-color: #fafbfa;
}

.hover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* More pronounced shadow on hover */
}

.title {
  font-size: 1rem; /* Smaller font for the title */
  font-weight: bold;
}

.budget,
.location {
  color: #666; /* Subtle color for text */
}

.button-container {
  margin-top: 10px; /* Less margin */
}

.category-label {
  color: #fff;
  background-color: #4caf50;
  padding: 2px 4px; /* Smaller padding */
  border-radius: 4px;
  display: inline-block;
  margin-top: 5px; /* Less margin */
}

.job-type-duration {
  margin-top: 5px; /* Less margin */
  color: #777;
}

.apply-button {
  background-color: #4caf50;
  color: white;
  padding: 6px 10px; /* Smaller padding for better appearance */
  font-weight: bold;
  margin-right: 4px; /* Less margin */
}

.apply-button:hover {
  background-color: #45a049; /* Darker green for hover effect */
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px 4px; /* Smaller padding */
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.icon {
  vertical-align: middle;
  margin-right: 2px; /* Less margin */
}
.pop-up {
  border-radius: 50px;
}

.job-card {
  background-color: #f5f5f5; /* Light background for a clean, modern look */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.job-card:hover {
  transform: translateY(-10px); /* Lift effect on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.job-title {
  font-size: 1.5rem; /* Larger font for job title */
  font-weight: bold;
  color: #333; /* Darker color for title */
}

.salary-category {
  font-size: 1rem;
  color: #555; /* Subtle color for salary and category */
  margin-top: 8px;
}

.salary {
  font-weight: bold; /* Make salary text stand out */
  margin-right: 15px;
}

.category {
  background-color: #4caf50; /* Green background for category */
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
}

.location {
  font-size: 0.95rem;
  color: #777; /* Lighter color for location */
  margin-top: 10px;
}

.job-description {
  font-size: 0.9rem;
  color: #666; /* Subtle color for description */
  margin-top: 8px;
}

/* Button Style */
.v-btn {
  background-color: #4caf50; /* Green button */
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
}

.v-btn:hover {
  background-color: rgb(89, 145, 97); /* Darker green on hover */
}
